<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>스프링부트 타임리프 홈페이지 테스트</h1>
<ul th:each="member : ${members}">
    <li th:text="${member.name}"></li>
    <li th:text="${member.email}"></li>
    <li th:if="${member.admin}">이 사람은 관리자 권한이 있습니다.</li>
    <li th:unless="${member.admin}">이 사람은 관리자 권한이 없습니다.</li>
</ul>
<a th:href="@{/index/2}">인덱스 2 페이지로 가기</a>
<a th:href="@{/index/3}">인덱스 3 페이지로 가기</a>

<form th:action="@{/members}" method="post">
    <input type="text" name="name">
    <input type="email" name="email">
    <button type="submit">저장</button>
</form>
</body>
</html>
